name = "MixedModeDebugger"
uuid = "363b73cf-3c9c-4803-b200-4b032d6ece30"
authors = ["Lyndon White"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
